@media only screen and (max-width: 1024px){


	$image-size: 15rem;

	html {
	    font-family: 'Nunito Sans', sans-serif;
	}

	h1, div {
	    text-align: center;
	}

	nav {
		// position: static;
	 //    width: 100%;
	 //    text-align: center;
	    font-size: .8rem;
	}

	.header-name {
		margin-top: 3rem;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		width: 100%;
	}

	.photo-nav-box {

		height: $image-size;
		width: $image-size;

		display: inline-block;
		position: relative;

		margin: 1rem;

		overflow: hidden;

	}

	.photo-nav-box:hover {

		.photo-nav-text {
			color: white;
		}

	}

	.photo-nav-link, .photo-nav-image {
		width: 100%;
	}

	.photo-nav-text {

		color: black;
		font-size: 1rem;

		cursor: pointer;
	}
}
