//SCSS StyleSheet

//imports:
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');

html {
    font-family: 'Nunito Sans', sans-serif;
    //background-color: whitesmoke;
    height: 100%;
}

body {
    height: 100%;
}

.title {
   
    //height: 200px;
    
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-content: center;
    
    max-width: 100%;
    h1, h3 {
        //align-self: center;
        text-align: center;
        max-width: 100%;
    }
}

.wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    img {
        max-width: 500px;
        height: auto;
        
        margin:20px;
    }
}

#editorial {
    //display: none;
}

.wrapper2 {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    height: 70%;
    
    
    a {
        max-width: 40%;
        height: auto;
        
        margin:20px;
        text-align: center;
        
    }
    
    img {
        max-width: 100%;
        height: auto;
    } 
}
    
nav {
    //position: 
    position: fixed;
    top:20px;
    left:50px;
    z-index: 1;
    width: 100px;
    
    a {
        margin: 10px;
    }
}

.boxes {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    
    align-self: center;
    
    width: 100%;
    height: 75%;
}

.box {
    max-width: 100%;
    height: auto;
    
    border: 1px solid black;
    
    display: grid;
    
    justify-self: center;
    align-content: center;
    
    text-align: center;
    
    a {
        justify-self: center;
        align-self: center;
        align-content: center;
    }
}

