@media only screen and (max-width: 738px){


//ADJUSTMENTS FOR PHONE SCREEN
	.navigation {
		position: static;
	    width: 100%;
	    text-align: center;
	    font-size: 1.2rem;
	}

	.header-name {
		font-size: 1.8rem;
	}

	.title, #contact_info {
		font-size: 1.2rem;
	}

}
