@media only screen and (max-width: 1024px){


	$image-size: 15rem;

	html {
	    font-family: 'Nunito Sans', sans-serif;
	}

	h1, div {
	    text-align: center;
	}

	nav {
	    font-size: .8rem;
	}

	.header-name {
		margin-top: 3rem;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		width: 100%;
	}

	.photo-nav-box {
		margin: 1.5rem;
	}

	.photo-nav-link {
		max-height: $image-size;
		width: $image-size;

		overflow: hidden;
	}

	.photo-nav-image {
		width: 100%;

	}

	.photo-nav-text {

		color: black;
		font-size: 1rem;

		cursor: pointer;
	}
}
